<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="Interval" value="60000"/>
    <add key="ConfiguraCarga" value="true"/>
    <add key="CargaFull" value="true"/>
    <add key="CargaParcial" value="false"/>
    <add key="CargaLegado" value="true"/>
    <add key="CargaCnpj" value=""/>
    <add key="CargaPortal" value=""/>
    <add key="CargaDataIni" value=""/>
    <add key="CargaDataFim" value=""/>

    

  </appSettings>

  

<connectionStrings>
		<add name="conexaoBD" connectionString="Data Source=base;Initial Catalog=banco;User ID=user;Password=senha;Connect Timeout=120;" providerName="System.Data.SqlClient" />
	</connectionStrings> 
  
</configuration>